<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add your resume</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>

<body>
    <h1 th:text="${addresumemessage}">This should not display</h1>
    <form action="#" th:action="@{/addresume}" th:object="${newResume}" method="post">

    <p>Enter your name: <input type="text" th:field="*{name}"/></p>
    <p>Enter your email: <input type="text" th:field="*{email}"/></p>
    <p>Enter your organisation: <input type="text" th:field="*{organisation}"/></p>
    <p>Enter your start date: <input type="text" th:field="*{stdate}"/></p>
    <p>Enter your end date: <input type="text" th:field="*{endate}"/></p>


    <input type="submit" value="Add Resume"/>
    <input type="reset" value="Reset"/>

</form>

</body>

</html>